<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mta.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF1EC0FB1DE5796300908CE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF1EC1141DE5796400908CE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF1EC11F1DE5796400908CE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
